{
  "swagger": "2.0",
  "info": {
    "title": "Default title",
    "description": "",
    "version": "1.0"
  },
  "host": "insert.azure.function.host.here",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/BluePrismRestInterface": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "StartProcessGeneric",
        "operationId": "BPStartProcess",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "Insert Azure Function Key"
          },
          {
            "name": "resource",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "Default Host Name of Blue Prism Resource Agent"
          },
          {
            "name": "process",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "Default Name of Blue Prism Process"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ],
        "description": "Starts an process instance by the specified Blue Prism resource",
        "x-ms-visibility": "advanced"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [],
  "tags": []
}